{% extends 'base.html.twig' %}

{% block title %}Zone de combat{% endblock %}

{% block body %}


<div class="">
 <h1>Zone de Combat</h1>

		{% if combats is empty%}
            <p> 
                Aucun Combat prévu ! Cliquez <a href="{{path('charactersList')}}">ici</a> pour accèder à la liste des personnages de tout les joueurs du site.
            </p>
            
        {% else %}
                
            {% for combat in combats %}

                {{dump(combat)}}
                {{dump(combat.characters)}}
            
            {% endfor %}
		{% endif %}

</div>
{% endblock %}
