<header>
 <div class="container-header">
    <img src="{{ asset('logo/logo_small_noir.png') }}" alt="logo"/>
    <div class="nav-header">
        <a href="#">Accueil</a>
        <a href="#">À propos</a>
        <a href="#">Forum</a>
        <a href="#">Contact</a>
    </div>
    <div class="connexion">
        <a href="#">Connexion</a>
        <a href="#">Inscription</a>
    </div>

 </div>
 <a class="nav-link" href="{{ path('createCharacters') }}">Création perso test</a>
 <a class="nav-link" href="{{ path('app_register') }}">Création user test</a>
</header>