<header>
        <!--Le Header Gauche-->
    <div class="headerG">
        <img src="{{ asset('logo/logo_small_noir.png') }}" alt="logo">
    </div>

    
        <!--Le Header Droit-->
    <div class="headerD">
        <div class="nav-barre">
            <a href="#">Accueil</a>
            <a href="#">A propos</a>
            <a href="#">Forum</a>
            <a href="#">Contact</a>
        </div>

        <div class="connexion"> 
            <a href="#" class="co">Connexion</a>
            <a href="{{ path('app_register') }}">Inscription</a>
        </div>
    </div>
    <a class="nav-link" href="{{ path('createCharacters') }}">Création perso test</a>
    
</header>