#display-character-image {
    width: 300px;
}

.container-grimoire {
    width: 100%;
    height: 100%;
    background-image: url('../image/ecorce.png');
    display: flex;
    justify-content: center;

}

.grimoire img{
    width: 1200px;
    position: absolute;
}


    


