.container_global {
    font-family: 'Milonga', cursive;
    display: flex;
    justify-content: center;
}

.container_connexion {
    width: 900px;
    position: relative;
}


.connexion1{
    padding: 100px;
    width: 600px;
    margin:0 auto;
    
}
/* MISE EN PLACE DES IMAGES */
.container_connexion img {
    width: 150px;
    height: 150px;
}

.bleu {
    position: absolute;
    right: 0px;
    bottom: 0px;
    animation-name: glissement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes glissement {
    0% {
      right: 30px;
    }
    30% {
        right: 60px;
    }
    
  }

.rouge {
    position: absolute;
    right: 30px;
    animation-name: glissement2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes glissement2 {
    0% {
      right: 30px;
    }
    30% {
      right: 60px;
    }
    
  }

.violet {
    position: absolute;
    left: 30px;
    bottom: 250px;
    animation-name: glissement3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glissement3 {
    0% {
      bottom: 10px;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: 20px;
    }
    
  }

/* Les formes des bordures*/
form {
    width:75%;
    padding: 40px;
    border: 1px solid #140d0d;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(219,143,143, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.connexion1  h1{
    margin-bottom: 15px;
    text-align: center;
}

/* Les largeurs des inputs */
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(41, 39, 39);
    box-sizing: border-box;
}

/* Le button de validation */
button[type=submit] {
    background-color: #a3a59b;
    color: rgb(12, 11, 11);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}

button[type=submit]:hover {
    background-color: rgb(190, 186, 186);
    color: #0c0c0c;
    border: 1px solid crimson   ;
}

.conexion_menu {
    margin: 40px 0;
}

/* Les formes des bordures*/
form {
    width:100%;
    padding: 40px;
    border: 1px solid #0c0b0b;
    border-radius: 15px;
    box-shadow: 15px 15px 7px rgba(110, 110, 110, 0.24);
    background: #dab47c;
    /* box-shadow: 0 0 20px 0 rgba(219, 143, 143, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}


/* Les largeurs des inputs */
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(41, 39, 39);
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: inset 8px 8px 7px rgba(110, 110, 110, 0.24);   
}

/* Le button de validation */
button[type=submit] {
    background-color: #99b051;
    color: rgb(12, 11, 11);
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    box-shadow: 15px 15px 7px rgba(110, 110, 110, 0.24);
    font-family: 'Milonga', cursive;
    font-size: 20px;

}
button[type=submit]:hover {
    background-color: #8e5232;
    color: #0c0c0c;
    border: 1px solid rgb(168, 56, 22)   ;
}

