.main_inscription {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Milonga', cursive;
    
}

.container_inscription img {
    width: 150px;
    height: 150px;
    
    
}

.bleu {
    position: absolute;
    left: 30px;
    top: 350px;
    animation-name: glissement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes glissement {
    0% {
      left: 20px;
    }
    50% {
      top: 300px;
    }
    70% {
        left: 50px;
        top: 350px;
    }
    100% {
      left: 0px;
    }
  }

.rouge {
    position: absolute;
    right: 30px;
    animation-name: glissement2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes glissement2 {
    0% {
      right: 30px;
    }
    30% {
      right: 60px;
    }
    
  }

.violet {
    position: absolute;
    right: 30px;
    bottom: 30px;
    animation-name: glissement3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes glissement3 {
    0% {
      bottom: 30px;
    }
    30% {
        bottom: 60px;
    }
    
  }

.container_inscription {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}


.inscription{
    width:50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-size: 40px;
}

.a1 {
    margin: 20px 0;
}

/* Les formes des bordures*/
form {
    width:100%;
    padding: 40px;
    border: 1px solid #0c0b0b;
    border-radius: 15px;
    box-shadow: 15px 15px 7px rgba(110, 110, 110, 0.24);
    background: #dab47c;
    /* box-shadow: 0 0 20px 0 rgba(219, 143, 143, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.inscription  h2{
    width: 35%;
    padding-bottom: 10px;
    text-align: center;
    

}

/* Les largeurs des inputs */
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(41, 39, 39);
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: inset 8px 8px 7px rgba(110, 110, 110, 0.24);
    
}

/* Le button de validation */
button[type=submit] {
    background-color: #99b051;
    color: rgb(12, 11, 11);
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    box-shadow: 15px 15px 7px rgba(110, 110, 110, 0.24);
    font-family: 'Milonga', cursive;
    font-size: 20px;

}
button[type=submit]:hover {
    background-color: #8e5232;
    color: #0c0c0c;
    border: 1px solid rgb(168, 56, 22)   ;
}



/* gestion de la page confirmation */

.confi-main {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}


.confi_container {
    width: 1200px;
    height: 250px;
    font-family: 'Milonga', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}