
/* css pour charactersList */

/* gestion de l'interface et alignement  */

.container-main2 {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 100px;
    margin-bottom: 40px;
}

h1 {
    margin-top: 20px;
}

.vide {
    margin-top: 30px;
    font-size: 20px;
}
.characters_picture {
    width: 80px;
    position: relative;
    left: 30%;
}

/* gestion face arriere des cartes */

.character_profession {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.character_profession img {
    width: 75px;
}

.character_hp_profession_name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

select {
    width: 200px;
    height: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px; 
    font-family: 'happy monkey', cursive;
    background: #d2873a;
    box-shadow: 5px 5px 5px rgb(175, 171, 171);
}

option {
    background: #e6b956;
    border: 1px solid ghostwhite;
}



button {
    width: 100px;
    height: 20px;
    background-color: #5a8a2c;
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(175, 171, 171);
    font-family: 'happy monkey', cursive;

}

button:hover {
    background: #8e5232;
}
/* Ici gerer l'affichage des combats */

.container-main-attente {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_combat {
    width: 1200px;
    margin: 20px 0;
    background: #dab47c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}

/* affichage durant combat*/

.card__face--back2   {
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    border: 3px solid black;
    border-radius: 15px;
    font-family: 'Milonga', cursive;
    padding: 5px;
    background-image: url(../image/fond_carte.jpg);
    background-size: cover;
    background-position: center;
    zoom: 100%;
}

.card__face--back2 {
    transform: rotateY(0deg);
}

.main-fight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-fight h1 {
    width: 1200px;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    animation-duration: 6s;
    animation-name: glissement4;
}

@keyframes glissement4 {
    from {
      margin-left: 150%;
      width: 1200px;
    }

    to {
      margin-left: 0%;
      width: 600px;
    }
}

.container_fight_characters {
    width: 1200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.character_dmg
{
    display: flex;
    flex-direction: column;
    align-items :center;
    gap: 15px;
}

.character_dmg button {
    width: 175px;
}
.character_dmg {
    visibility: hidden;
}
.isNext .character_dmg {
    visibility: visible;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Special Elite', cursive;
}

.p-chall {
    margin-top: 10px;
    font-size: 16px;
}

p, .button {
    font-family: 'Special Elite', cursive;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    padding: 10px;
    background: #d2873a;
    border-radius: 15px;
}

.button:hover {
    background: #5a8a2c;
}

.button-accepte {
    background: #5a8a2c;
}

.button-accepte:hover {
    background: #e6b956;
}

.button-refuse {
    background: red;
}

.button-refuse:hover {
    background: #e6b956;
}