{% extends 'base.html.twig' %}

{% block title %}Supprimer un utilisateur{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

    <div class="container-moderation">
        <h3>Liste des utilisateurs </h3>
        <div class="liste-utilisateur">
            {% for user in users %}
                <a href="{{ path('viewprofil', { 'id': user.id }) }}">{{ user.email }}</a>

                <br>
            {% endfor %}
        </div>    
    </div>




{% endblock %}
