{% extends 'base.html.twig' %}

{% block title %}Supprimer un utilisateur{% endblock %}

{% block body %}

    <select class="form-select" multiple aria-label="multiple select example">
        <option disabled>Utilisateur</option>
            {% for user in users %}
                <option value="">{{ app.user.email }}</option>
            {% endfor %}




    </select>
    <a href=><button type="submit" class="btn btn-primary"> Supprimer</button></a>



{% endblock %}
