<h1>Bonjour {{ user.firstname }}</h1>

Merci d'avoir créé un compte sur notre site.
<br><br>
Veuillez cliquer sur le lien ci-dessous pour valider votre compte : <br>
<a href="{{ link }}">{{ link }}</a>