{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
    <h1>Espace Admin</h1>



    <h3>Modération</h3>
    <a href={{ path('moderation') }}><button type="button" class="btn btn-primary"> Liste des utilisateurs</button></a>

    <br>

    <h3>Messagerie</h3>
        <button type="button" class="btn btn-primary">Envoyer un mail a tout les utilisateurs</button>



{% endblock %}