{% extends 'base.html.twig' %}

{% block title %}Bloqué avec succès{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

    <h1 class="succes">Utilisateur bloqué avec succès</h1>



{% endblock %}